<form #myForm="ngForm">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div>
        <input type="text" [(ngModel)]="form.username" name="username" #username="ngModel" [rangeLength]="[6, 20]"
               class="form-control" required placeholder="姓名"/>
        <p class="text-danger" *ngIf="username.errors?.rangeLength">输入字符长度在5-9之间</p>
      </div>
      <p></p>
      <div>
        <input type="text" [(ngModel)]="form.phone" name="phone" #phone="ngModel" [phone]="'zh-CN'"
               class="form-control" required placeholder="手机号"/>
        <p class="text-danger" *ngIf="phone.errors?.phone">手机号码格式不正确</p>
      </div>
      <p></p>
      <div>
        <input type="email" [(ngModel)]="form.email" name="email" #email="ngModel" email
               class="form-control" required placeholder="邮箱"/>
        <p class="text-danger" *ngIf="email.errors?.email">
          邮箱地址不正确
        </p>
      </div>
      <p></p>
      <div>
        <input type="url" [(ngModel)]="form.url" name="url" #url="ngModel" url
               class="form-control" required placeholder="个人主页" />
        <p class="text-danger" *ngIf="url.errors?.url">网络地址格式不正确</p>
      </div>
      <p></p>
      <div>
        <input type="text" [(ngModel)]="form.age" name="num" #age="ngModel" number class="form-control" required
               placeholder="年龄"/>
        <p class="text-danger" *ngIf="age.errors?.number">只能输入数字</p>
      </div>
      <p></p>
      <div>
        <input type="radio" [(ngModel)]="form.sex" name="sex" value="男" required/> 男
        <input type="radio" [(ngModel)]="form.sex" name="sex" value="女" required/> 女
      </div>
      <p></p>
      <div>
        <input type="text" [(ngModel)]="form.position" name="position" #position="ngModel" class="form-control" required
               placeholder="职位" [rangeLength]="[3, 20]"/>
        <p class="text-danger" *ngIf="position.errors?.rangeLength">职位不详细</p>
      </div>
      <p></p>
      <div>
        <textarea placeholder="爱好" [(ngModel)]="form.hobby" name="hobby" #hobby="ngModel" class="form-control" required
                  [rangeLength]="[2, 50]"></textarea>
        <p class="text-danger" *ngIf="hobby.errors?.rangeLength">
          字少两个字,最多50个字
        </p>
      </div>
      <p></p>
      <!--这个是提交按钮,如果条件不满足, 提价按钮为只读-->
      <p>
        <button [disabled]="!myForm.form.valid" class="btn btn-primary">提交</button>
      </p>
    </div>
  </div>
</form>
