<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          个人卡片
        </div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          新闻信息
        </div>
      </div>
      <div class="panel-body">

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          日历
        </div>
      </div>
      <div class="panel-body">
        <oa-date></oa-date>
      </div>
    </div>
  </div>
</div>
