<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div *ngFor="let item of data" class="newsContent">
      <br/>
      <h4 class="text-primary text-center">
        {{item.title}}
      </h4>
      <br/>
      <p class="text-right text-warning">
        <span>作者: {{item.author}}</span> |
        <span>时间: {{item.time}}</span>
      </p>
      <div innerHtml="{{item.content}}"></div>
      <p class="text-right">
        <a routerLink="/home/edit/{{item.id}}">[编辑]</a>
      </p>
    </div>
  </div>
</div>
